.eka {
width: 200px; 
height: 100px; 
background-color:red;
text-align:center;
vertical-align:middle;
border-width:10px;
border-color:green;
border-style:solid; 
}

.toka {width:200px; height:100px; background-color:yellow; position:absolute; left:300px; top:15px;}
.kolmas {width:200px; height:100px; background-color:green; position:absolute; left:600px; top:15px; }


